requests
beautifulsoup4
types-requests
mypy
pylint
flakeheaven
pep8-naming
darglint
flake8
flake8-annotations-complexity
flake8-blind-except
flake8-bandit
flake8-builtins
flake8-coding
flake8-commas
flake8-comprehensions
flake8-debugger
flake8-docstrings
flake8-eradicate
flake8-executable
flake8-fixme
flake8-isort
flake8-logging-format
flake8-mutable
flake8-pep3101
flake8-print
flake8-variables-names
